.question-item {
  padding: 20px 20px 100px;
  margin: 0 auto;
  max-width: 1100px;

  h2 + p {
    @include breakpoint($md) {
      margin-bottom: 50px;
    }
  }

  &__comment {
    margin-top: 30px;
    border-bottom: 1px solid #ccc;

    &:last-child {
      border-bottom: none;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    img {
      max-width: 30px;
      border-radius: 50%;
    }

    h3 {
      margin-left: 5px;
      font-size: 16px;
    }
  }

  &__description {
    padding-bottom: 0px;
  }

  p {
    margin-bottom: 20px;
  }
}
