.recommended-courses__course {
    background-color: $color-white;
    box-shadow: 0 2px 12px 0px rgba(60, 60, 60, 0.1);
    cursor: pointer;
    margin: 0 auto 30px;
    max-width: 290px;
    padding: 10px 15px;
    position: relative;
    transition: all ease 500ms;
    min-height: 350px;
  
    &:hover {
      // outline: auto;
      // outline-color: $color-primary;
      transform: translateY(-0.25rem);
      box-shadow: 0 2px 12px 0px rgba(60, 60, 60, 0.42);
    }
  
    &.unavailable {
      //background-color: hsla(0, 0.8%, 51%, 0.05);
      pointer-events: none;
    }
  
    @include breakpoint($sm) {
      max-width: 310px;
    }
  
    @include breakpoint($md) {
      width: 350px;
    }
  
    @include breakpoint($lg) {
      max-width: 275px;
    }
  
    &-title {
      min-height: 50px;
      h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 5px 0 15px;
  
        @include breakpoint($sm) {
          font-size: 16px;
        }
  
        @include breakpoint($md) {
          font-size: 18px;
        }
  
        @media (prefers-color-scheme: dark) {
          color: $color-blue-dark;
        }
      }
    }
  
    &-description {
      @include breakpoint($md) {
        min-height: 75px;
      }
  
      p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
  
        @include breakpoint($md) {
          font-size: 16px;
        }
  
        @media (prefers-color-scheme: dark) {
          color: $color-blue-dark;
        }
      }
    }
  
    &-button {
      a {
        display: block;
        font-size: 16px;
        margin-left: auto;
        max-width: 110px;
        padding: 8px;
        text-align: center;
        width: auto;
      }
    }
  
    &-status {
      background: salmon;
      color: $color-white;
      position: absolute;
      top: 10px;
      right: 15px;
      padding: 8px 15px;
  
      &.available {
        background-color: #27ae60;
      }
    }
  }
  