.footer {
  background-color: $color-blue-dark;
  padding: 5rem 2rem;

  p {
    color: $color-white;
    text-align: center;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    max-width: 25rem;
    margin: 3rem auto;

    .icon {
      color: $color-white;
      font-size: 3.2rem;
    }
  }
}
