// @import "../../styles/base/variables";
// @import "../../styles/base/mixins";

.header {
  background-image: url("../../images/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint($xs-ls) {
    background-position: 100% 14rem;
  }

  @include breakpoint($sm) {
    background-position: 100% 20.5rem;
  }

  @include breakpoint($lg) {
    background-position: 100% 14rem;
  }

  a {
    display: block;
    margin: 2rem auto;
    max-width: 22rem;
  }

  h1 {
    margin: 0 auto 3rem;

    @include breakpoint($sm) {
      margin: 0 auto 5rem;
    }

    span {
      position: relative;

      &:before {
        content: "";
        bottom: -.9rem;
        background-size: 2rem 2rem;
        height: .5rem;
        background-color: $color-primary;
        border-radius: .6rem;
        position: absolute;
        left: 0;
        width: 100%;
      }
    }
  }

  p {
    font-size: 1.6rem;
    line-height: 2.6rem;

    @include breakpoint($sm) {
      font-size: 2rem;
      max-width: 29rem;
    }
  }

  &__content {
    padding: 6rem 4rem 2rem;
    text-align: center;

    @include breakpoint($xs-ls) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5.5rem 4rem 12rem;
    }

    @include breakpoint($sm) {
      padding: 7rem 4rem 8rem;
    }

    @include breakpoint($md) {
      max-width: 92rem;
      margin: 0 auto;
    }

    @include breakpoint($lg) {
      max-width: 117rem;
      padding: 6rem 4rem;
    }
  }

  &__text {
    @include breakpoint($xs-ls) {
      text-align: left;
      width: 60%;
    }

    @include breakpoint($sm) {
      width: auto;
    }
  }

  &__logos {
    padding-top: 3rem;

    @include breakpoint($xs-ls) {
      padding: 0;
    }

    img {
      display: block;
      margin-left: auto;
      max-width: 8rem;
      animation: growing 1.5s alternate infinite ease-in;

      @include breakpoint($xs-ls) {
        max-width: 10rem;
      }

      @include breakpoint($sm) {
        max-width: 13rem;
      }

      @include breakpoint($md) {
        max-width: 16rem;
      }

      @include breakpoint($lg) {
        max-width: 22rem;
      }
    }
  }
}
