.join-us {
    background-color: #ffffff;
    padding: 4rem 2rem;
    text-align: center;
  
    @include breakpoint($sm) {
      padding: 4rem;
    }
  
    @include breakpoint($md) {
      margin: 0 auto;
      padding: 4rem 2rem;
    }
  
    a {
      display: block;
      margin: 0 auto;
      width: auto;
      max-width: 18.5rem;
      text-align: center;
      font-size: 1.6rem;
    }
  
    h2 {
      // @media (prefers-color-scheme: dark) {
      //   color: $color-blue-dark;
      // }
    }
  
    p {
      margin: 0 0 4rem;
  
      @include breakpoint($md) {
        font-size: 2rem;
      }
  
      // @media (prefers-color-scheme: dark) {
      //   color: $color-blue-dark;
      // }
    }
  
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;
  
      @include breakpoint($sm) {
        margin: 0 auto 3rem;
      }
  
      &__image {
        display: flex;
        justify-content: center;
        width: 30%;
  
        img {
          max-width: 8rem;
        }
      }
  
      &__description {
        width: 70%;
  
        @include breakpoint($sm) {
          text-align: left;
        }
  
        h3 {
          margin-bottom: 1rem;
  
          // @media (prefers-color-scheme: dark) {
          //   color: $color-blue-dark;
          // }
        }
  
        p {
          margin-bottom: 2rem;
  
          // @media (prefers-color-scheme: dark) {
          //   color: $color-blue-dark;
          // }
        }
  
        a {
          @include breakpoint($sm) {
            margin: 0;
          }
        }
      }
    }
  }
  