.lesson-resource {
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto 30px;
    gap: 1rem;

    @include breakpoint($md) {
      margin: 0 auto 20px;
      max-width: 100%;
    }

    .item__image {
      width: 15%;

      @include breakpoint($sm) {
        width: 8%;
      }

      img {
        display: block;
        margin: 0;
        max-width: 40px;
      }
    }

    .item__description {
      width: 85%;

      @include breakpoint($sm) {
        width: 90%;
      }

      @include breakpoint($md) {
        width: 80%;
      }

      a {
        color: $color-blue-dark;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        white-space: normal;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          position: absolute;
          left: 0;
          bottom: -2px;
          border-width: 0 0 1px;
          border-style: solid;
        }

        // @media (prefers-color-scheme: dark) {
        //   color: $color-white;
        // }
      }
    }
  }
}

.lesson-resources {
  padding: 0;

  @include breakpoint($md) {
    padding: 0 0 30px;
  }

  &__title {
    margin-bottom: 20px;
  }
}
