.lesson {
  box-shadow: 0 2px 12px 0 rgba(60, 60, 60, 0.1);
  border-radius: 3px;
  max-width: 290px;
  margin: 0 0 30px 0;

  // @media (prefers-color-scheme: dark) {
  //   box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 0.1);
  // }

  @include breakpoint($sm) {
    max-width: 270px;
  }

  @include breakpoint($md) {
    margin: 0 25px 30px 0;
  }

  img {
    min-width: 100%;
  }

  &__video {
    video {
      max-width: 100%;
    }
  }

  &__description {
    padding: 20px;
    min-height: 175px;

    h4 {
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
    }
  }

  &__link {
    padding: 0 20px 20px;
    text-align: center;

    a {
      border: 1px solid #27ae60;
      display: block;
      color: #27ae60;
      cursor: pointer;
      font-weight: 600;
      padding: 15px 20px;
      margin: 0;
      max-width: 100%;
      word-spacing: 2px;

      &:hover {
        background-color: #27ae60;
        color: #fff;
      }
    }
  }
}
