.nav {
  &__bottom {
    ul {
      li {
        color: $color-blue-dark;
        font-size: 20px;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: 100%;

          img {
            border-radius: 50%;
            margin-right: 5px;
            max-width: 35px;
          }
        }
      }
    }
  }

  &__button {
    cursor: pointer;
    @include breakpoint($md) {
      display: none;
    }
  }

  &__content {
    border-bottom: 1px solid $color-gray;
    padding: 10px 15px;

    @include breakpoint($sm) {
      padding: 10px 0;
    }
  }

  &__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__links {
    display: none;

    @include breakpoint($md) {
      display: block;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        display: inline-block;
        padding: 0 30px 0 0;

        &.logout {
          cursor: pointer;
          padding: 5px 15px;
        }

        a {
          color: $color-blue-dark;
          display: flex;
          align-items: center;
          transition: all 0.3s;

          &:hover {
            box-shadow: none;
            padding-bottom: 5px;
            border-bottom: 1px solid $color-blue-dark;
            transition: border 0.3s;
          }

          img {
            border-radius: 50%;
            margin-right: 5px;
            max-width: 35px;
          }

          // @media (prefers-color-scheme: dark) {
          //   color: $color-white;

          //   &:hover {
          //     border-bottom: 2px solid $color-white;
          //   }
          // }
        }
      }
    }
  }

  &__logo {
    align-items: center;
    display: flex;
    flex: 1;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
        box-shadow: none;
      }
    }

    img {
      max-width: 50px;
      cursor: pointer;
    }

    span {
      margin-left: 15px;
    }
  }

  &__menu {
    display: none;

    &.show {
      display: block;
      position: absolute;
      top: 0;
      background: #ffd665;
      width: 100%;
      left: 0;
      height: 100vh;
      z-index: 10;
      text-align: center;

      @include breakpoint($md) {
        display: none;
      }

      button {
        background-color: $color-blue-dark;
        font-size: 20px;
        position: absolute;
        right: 0;
        padding: 10px 20px;
      }
    }

    li {
      display: block;
      padding: 20px 0;

      &:first-of-type {
        margin-top: 40px;
      }

      a {
        color: $color-blue-dark;
        font-size: 20px;
      }
    }
  }
}
