.question {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 0 20px;

  &:last-child {
    border-bottom: 0;
  }

  h4 {
    margin-bottom: 20px;
    width: 100%;
  }

  &__comments {
    margin-right: 40px;
  }

  &__likes {
    .icon {
      cursor: pointer;

      &.active {
        color: #fbc531;
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;

    span {
      font-size: 16px;
      margin-left: 5px;
    }

    .icon {
      font-size: 24px;
      vertical-align: middle;
    }
  }

  &__button {
    .btn {
      display: block;
      font-size: 14px;
      padding: 7px 14px;
      font-weight: 600;
    }
  }
}

.questions {
  &__list {
    padding: 5px 0;
    max-height: 300px;
    overflow-y: scroll;
  }
}

.questions {
  &__title {
    h3 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &__form-new-question {
    form {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      .btn {
        font-weight: normal;
        padding: 5px 15px;
        font-weight: 600;
      }

      input {
        margin-right: 5px;
      }

      textarea {
        border-radius: 0;
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
