.recommended-courses {
    background: url("../../images/wave2.svg");
    background-repeat: no-repeat;
    padding: 10rem 2rem;
  
    @include breakpoint($sm) {
      padding: 6rem 2rem;
    }
  
    @include breakpoint($md) {
      background-position: 100% -5rem;
    }
  
    &__intro {
      margin-top: 2.5rem;
      width: 100%;
  
      @include breakpoint($sm) {
        margin-top: 10rem;
      }
  
      @include breakpoint($md) {
        margin: 15rem 0 5rem;
      }
  
      @include breakpoint($lg) {
        margin: 21rem 0 5rem;
      }
  
      p {
        text-align: center;
        line-height: 2.4rem;
        margin-bottom: 2rem;
        font-size: 1.6rem;
  
        @include breakpoint($sm) {
          margin-bottom: 4rem;
        }
  
        @include breakpoint($md) {
          font-size: 2rem;
          line-height: 2.8rem;
          margin: 0 auto 3rem;
          max-width: 60rem;
        }
      }
    }
  
    &__content {
      margin: 0 auto;
  
      @include breakpoint($sm) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
  
      @include breakpoint($md) {
        max-width: 92rem;
      }
  
      @include breakpoint($lg) {
        max-width: 117rem;
      }
    }
  }
  