@import "../base/variables";
@import "../base/mixins";

.btn {
  background-color: $color-primary;
  width: fit-content;
  font-size: 16px;
  font-weight: bold;
  padding: 1.2rem 2rem;
  text-decoration: none;
  color: $color-white;
  cursor: pointer;
  transition: all 300ms;

  &:hover {
    box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.5);
  }
}

button,
a {
  border: 0;
  color: $color-white;
  cursor: pointer;
  font-family: $font-primary;
  font-size: 1.4rem;
  white-space: nowrap;
  max-width: 21rem;
  text-decoration: none;

  &.yellow {
    background-color: $color-primary;
  }
}

.container {
  margin: 0 auto;
  max-width: 100%;

  @include breakpoint($sm) {
    max-width: 74.5rem;
  }

  @include breakpoint($md) {
    max-width: 92rem;
  }

  @include breakpoint($lg) {
    max-width: 80%;
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}

.has-shadow {
  border: .1rem solid rgba(239, 238, 238, 1);
  box-shadow: 0 .2rem .4rem rgba(174, 190, 205, 0.3);
  padding: 2rem;
  border-radius: .6rem;
  background-color: $color-white;

  // @media (prefers-color-scheme: dark) {
  //   background-color: rgb(24, 26, 27);
  // }
}
