@import "./base/variables";
@import "./base/mixins";
@import "./base/base";
@import "./base/fonts";
@import "./base/animations";
@import "./base/globals";
@import "./components/nav";
@import "./components/header";
@import "./components/footer";
@import "./components/course-card";
@import "./components/recommended-courses";
@import "./components/join-us";
@import "./components/group";
@import "./components/hero";
@import "./components/category-filter";
@import "./components/lesson";

//Containers
@import "./containers/lessons";
